.tag {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    gap: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
    height: 18px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tag.active {
    cursor: pointer;
    background-color: #0249FF;
    color: white;
}

.tag:hover {
    transform: scale(1.07);
}
