.invest-amount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.invest-amount-title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.invest-amount-sub-title {
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.invest-amount-box {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  width: 755px;
  border-radius: 20px;
  background: #f7f8fa;
  box-sizing: border-box;
  margin-top: 40px;
}

.invest-amount-box-etf-list {
  display: flex;
  gap: 44px;
}

.invest-amount-box-money {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -0.56px;
  margin: 40px 0px;
}

.invest-amount-box-content {
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-top: 40px;
}

/* 투자하기 버튼 */
.invest-amount-btn {
  /* width: 100%; */
  /* 크기 확인하기 */
  width: 755px;
  background-color: #0249ff;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  border: none;
  border-radius: 16px;
  padding: 16px 0px;
  cursor: pointer;
  margin-top: 40px;
}
