.container {
  display: flex;
}

.left-panel {
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 600px;
}

.etfSearch-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-bottom: 10px;
}

.etfSearch-Wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.etfSearch-Top input {
  padding: 10px 30px 10px 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 280px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.etfSearch-Top input::placeholder {
  color: #949494;
}

.etfSearch-Icon {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.etfSearch-Top h1 {
  font-size: 32px;
  font-weight: bold;
}

.etfSearch-Bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.etfSearch-Bottom-List {
  height: 360px;
  overflow-y: auto;
}

.etfSearch-Bottom thead {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.etfSearch-Bottom thead tr {
  display: flex;
  gap: 12px;
}

.etfSearch-Bottom tbody tr {
  display: flex;
  border-radius: 10px;
  margin-bottom: 12px;
  justify-content: space-between;
}

.etfSearch-Bottom tbody tr:hover {
  background-color: #f1f3f7;
  cursor: pointer;
}

.etfSearch-Bottom tbody tr {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

th,
td {
  text-align: center;
  gap: 1rem;
  vertical-align: middle;
}

.etfSearch-Bottom-List-Img {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.etfSearch-Bottom-List-Title {
  display: flex;
  width: 320px;
  align-items: center;
  margin-right: 20px;
}

.etfSearch-Bottom-List-Price {
  font-size: 14px;
  width: 200px;
}

.etfSearch-Bottom-List-Price-Bold {
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.35px;
}

.etfSearch-Bottom-List-Title-th {
  display: flex;
  width: 260px;
  margin-left: 40px;
}

.etfSearch-Bottom-List-Price-th {
  width: 160px;
}

.right-panel {
  gap: 3rem;
  min-width: 50%;
}

.etfSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 50px;
}

.etfSelect img {
  /* position: absolute; */
}

.etfSelect-1 {
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 240px;
  height: 320px;
  padding: 20px;
  background-color: #f1f3f7;
  align-items: center;
  position: relative;
}

.etfSelect-1 h1 {
  padding-top: 120px;
  text-align: center;
  color: #adadad;
}

.etfSelect-2 {
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  width: 240px;
  height: 320px;
  padding: 20px;
  background-color: #f1f3f7;
  align-items: center;
}

.etfSelect-2 h1 {
  padding-top: 120px;
  text-align: center;
  color: #adadad;
}

.compare-btn {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  min-width: 50%;
  gap: 2rem;
  margin-top: 190px;
  margin-left: 40px;
  min-height: 50px;
  padding-top: 20px;
  background-color: #ccc;
}

.compare-btn h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.compare-btn.inactive {
  background-color: #ccc;
}

/* 비활성화 상태 */
.compare-btn.inactive:hover {
  background-color: #cdcdcd;
}

/* 활성화 상태 */
.compare-btn.active {
  background-color: #0249ff;
}

/* 활성화 상태의 호버 */
.compare-btn.active:hover {
  background-color: #3b72ff;
}

.message {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.etfSelect-delete-icon {
  width: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
