/* 페이지 애니메이션 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.listContainer {
  display: flex;
  gap: 80px;
  height: 100vh;
  animation: fadeInUp 0.6s ease-out;
  opacity: 1;
}

.listContent1 {
  display: flex;
  padding: 60px;
  max-width: 50%;
  height: 630px;
  border-radius: 20px;
  box-sizing: border-box;
}

.listContent2 {
  flex: 1;
  max-width: 50%;
  height: 630px;
}

.cardList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tagTitle {
  color: #4e4e4e;
  font-size: 30px;
  font-weight: bold;
  font-family: "Pretendard";
  margin-bottom: 30px;
}

.tagSearch-wrapper {
  position: relative;
  width: 360px;
}

.tagSearch {
  border: none;
  border-radius: 60px;
  height: 45px;
  margin-bottom: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  box-sizing: border-box;
}

.tagSearch-img {
  width: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.tagSearch:focus {
  outline: none;
  border: none;
}

.sectorTitle {
  color: #4e4e4e;
  font-size: 20px;
  font-weight: bold;
  font-family: "Pretendard";
  margin-top: 40px;
}

.tags-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.searchTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: "Pretendard";
  text-align: left;
}

.searchCount {
  color: #0349fd;
  font-size: 20px;
  font-weight: bold;
  font-family: "Pretendard";
}

.etflist-right {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  max-height: 560px;
}

.etflist-right table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  table-layout: fixed;
}

.etflist-right tbody tr {
  border-radius: 10px;
  margin-bottom: 12px;
}

.etflist-right th:first-child {
  width: 70%;
}

.etflist-right th:nth-child(2) {
  width: 30%;
  text-align: center;
}

.etflist-right thead th {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
  padding: 10px;
}

.etflist-right td,
th {
  padding: 10px;
  font-size: 14px;
  font-family: "Pretendard";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.etflist-right tbody tr {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #eee;
}

.etflist-right tbody tr:hover {
  background-color: #f1f3f7;
  cursor: pointer;
  overflow: visible;
}

.etflist-right .price-list {
  font-size: 14px;
  text-align: left;
  width: 120px;
  color: #555;
}

.etflist-right .price-change-value {
  font-size: 14px;
  font-weight: bold;
}

.etflist-right .price-change-value.positive {
  color: #ff0000;
}

.etflist-right .price-change-value.negative {
  color: #0349fd;
}

.no-tag-Result {
  padding-top: 200px;
  padding-left: 250px;
  color: #848484;
  font-size: 16px;
  font-weight: 500;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.loading-message {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-top: 40px;
}