.listContainer {
    display: flex;
    height: 100vh; 
}

.listContent1 {
    flex: 1;
    max-width: 50%;
    height: 630px;
}

.listContent2 {
    flex: 1;
    max-width: 50%;
    height: 630px;
}

.cardList {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tagTitle {
    color: #4E4E4E;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pretendard';
    margin-top: 60px;
    margin-left: 100px;
}

.tagSearch {
    border: none;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 20px;
    height: 45px;
    margin-top: 30px;
    margin-left: 100px;
    width: 40%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tagSearch:focus {
    outline: none;
    border: none;
}

.sectorTitle {
    color: #4E4E4E;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard';
    margin-top: 60px;
    margin-left: 100px;
}

.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 100px;
}

.searchTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard';
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
}

.searchCount {
    color: #0349FD;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard';
}

.etflist-right {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    max-height: 560px;
}

.etflist-right table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    table-layout: fixed;
}

.etflist-right tbody tr {
    border-radius: 10px;
    margin-bottom: 12px;
}

.etflist-right th:first-child {
    width: 70%;
}

.etflist-right th:nth-child(2) {
    width: 30%;
    text-align: center;
}

.etflist-right thead th {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.etflist-right td, th {
    padding: 10px;
    font-size: 14px;
    font-family: 'Pretendard';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.etflist-right tbody tr {
    height: 50px;
    padding-left: 15px;  
    padding-right: 15px; 
    border-bottom: 1px solid #eee;
}

.etflist-right tbody tr:hover {
    background-color: #f1f3f7;
    cursor: pointer;
    overflow: visible;
}

.etflist-right .price-list {
    font-size: 14px;
    text-align: left;
    width: 120px;
    color: #555;
}

.etflist-right  .price-change-value {
    font-size: 14px;
    color: #FF0000;
    font-weight: bold;
}